.bg-yellow{
    background-color: bisque;
}

.bg-pink{
    background-color: lightpink;
}

.bg-blue{
    background-color: lightblue;
}

.orange{
    color: darkorange;
}

.green{
    color: darkgreen;
}

.purple{
    color: blueviolet;
}